
Data/Original Data/WorldValueSurvey/F00003844_WVS_Values_Surveys_Integrated_Dictionary_TimeSeries_v_2014-04-25.xls
Data/Original Data/WorldValueSurvey/F00003844_WVS_Values_Surveys_Integrated_Dictionary_TimeSeries_v_2014-04-25.xls
Data/Original Data/WorldValueSurvey/F00003843_WVS_EVS_Integrated_Dictionary_Codebook_v_2014_09_22.xls
Data/Original Data/WorldBank/.DS_Store
